{% extends 'base.html.twig' %}

{% block title %}Membres Terminologio{% endblock %}

{% block body %}
   <div class="container mt-5">
        <div class="heading_container mb-5">
            <h2 class="">
            Membres de Terminologio
            </h2>
        </div>
    
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Pseudo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for membre in membres %}
            <tr>
                <td>{{ membre.email }}</td>
                <td>{% for role in membre.roles %} {{role}} / {% endfor %}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.pseudo }}</td>
                <td>
                    <a class="cbutton" href="{{ path('app_membre_show', {'id': membre.id}) }}">Voir</a>
                    {{ include('membre/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'utilisateurs trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="cbutton ml-5 mb-5" href="{{ path('app_membre_new') }}">Créer un nouveau membre</a>
    <a class="abutton ml-5 mb-5" href="{{ path('app_admin') }}">Retour à l'Administration</a>

{% endblock %}
