{% extends 'base.html.twig' %}

{% block title %}Membre{% endblock %}

{% block body %}

    <section class="about_section layout_padding mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Pseudo: {{membre.pseudo}}
              </h2>
            </div>
              <h3>
                Nom: {{membre.nom}}
              </h3>
            <h5>{{membre.email}}
            </h5>
            <hr>
            <h6>Roles: {% for role in membre.roles %} {{role}} / {% endfor %}
            </h6>
            <a href="{{ path('app_membre_edit', {'id':membre.id}) }}" class="abutton">
                Modifier 
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_membre_index') }}" class="abutton">
                Retour sur les membres
            </a>
            {% endif %}
          </div>
        </div>
      </div>

    <a class="cbutton" href="{{ path('app_index') }}">Retour à l'accueil</a> <br>
    <a class="cbutton" href="{{ path('app_logout') }}">Se deconnecter</a>


    {{ include('membre/_delete_form.html.twig') }}
    </div>
  </section>

{% endblock %}
