        {{ form_start(form) }}
          {{ form_errors(form) }}
            <div>
              <input type="text" name="{{ field_name(form.titre) }}" placeholder="Titre" />
            </div>
            <div>
              <label>Langue d'illustration </label>
              <select name="{{ field_name(form.defaultlang) }}" placeholder="{{ form.defaultlang.vars.placeholder}}">
                {% for key, val in form.defaultlang.vars.choices %}
                <option value="{{ val.value }}" {{ form.defaultlang.vars.value == key ? 'selected' : '' }}>{{ val.label }}</option>
                {% endfor %}
              </select>
            </div>
              <br>
            <div>
              <input type="file" id="fileInput" name="{{ field_name(form.imgsrc) }}" placeholder="Image" />
            </div>
            <div>
              <input type="text" class="message-box" name="{{ field_name(form.description) }}" placeholder="Description" />
            </div>
            <label>Thème de l'illustration </label>
            <select name="{{ field_name(form.theme) }}" >
              <option value="">Par défaut</option>
              {% for key, val in form.theme.vars.choices %}
                <option value="{{ val.value }}">{{ val.label }}</option>
              {% endfor %}
            </select>
            {{ form_rest(form) }}
            <div class="d-flex ">
              <button type="submit">
                Créer
              </button>
            </div>
          {{ form_end(form) }}
          