{% extends 'base.html.twig' %}

{% block title %}Edition Illustration{% endblock %}

{% block body %}

  <section class="contact_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container">
            <h2 id="idillus" data-id="{{ illustration.id }}">
                {{ illustration.titre }}
            </h2>
        </div>
        <p>
         {{ illustration.description }}
        </p>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-lg-4">
          <canvas id="monCanvas" height="600" width="640"></canvas>
        </div>
        <div class="col-md-3 ml-4">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {# <form action="POST" id="cform"> #}
                <div>
                <input type="text" id="clabel" name="{{field_name(form.label)}}" placeholder="Label" />
                </div>
                <div>
                <input type="text" id="cx" name="{{field_name(form.adressex)}}" placeholder="Coordonnée x du point" />
                </div>
                <div>
                <input type="text" id="cy" name="{{field_name(form.adressey)}}" placeholder="Coordonnée y du point" />
                </div>
                <div>
                <input type="text" id="cdesc" class="message-box" name="{{field_name(form.description)}}" placeholder="Description" />
                </div>
                {# <input type="hidden" name="_csrf_token" value="{{ csrf_token('illustration') }}"> #}
                {{ form_rest(form) }}
                <div class="d-flex ">
                <button type="submit" id='btn'>
                    Ajouter un composant
                </button>
                </div>
            </form>
            {{ form_end(form) }}
            <br>
            <a class="cbutton" href="{{ path('app_illustration_show', {'id': illustration.id}) }}">Voir l'illustration</a> </br> 
            <a class="cbutton" href="{{ path('app_illustration_index') }}">Voir les illustrations</a>
        </div>
        <div class="trending_section col-md-8 col-lg-4 mt-4 mb-4">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Composants
                </h2>
              </div>
              <div class="tab_container">

                {% for composant in illustration.composants %}
                <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <hr>
                  <div class="t-name">
                    <h5  id="{{ composant.id }}" >
                       {{ composant.label }}
                    </h5>
                  </div>
                </div>
                <div class="t-desc">
                    <p id="desc{{ composant.id }}" >
                    {{ composant.description }}
                    </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  {% if is_granted('ROLE_ADMIN') %}
    {{ include('illustration/_delete_form.html.twig') }}
  {% endif %}
    <hr>
{% endblock %}
{% block javascripts %} 
  <script type="text/javascript" src="{{ asset('assets/js/image.js') }}" async></script> 
  <script type="text/javascript" src="{{ asset('assets/js/addcomposant.js') }}" async></script>
{% endblock %}
