{% extends 'base.html.twig' %}

{% block title %}Illustrations{% endblock %}

{% block body %}

      <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Illustrations
        </h2>
      </div>
    </div>
    <div class="container">

    <a class="cbutton" href="{{ path('app_illustration_new') }}">Créer une illustration</a>
    <a class="abutton ml-3" href="{{ path('app_index') }}">Retour à l'acceuil</a>
      <div class="client_container layout_padding2 row">
      {% for illustration in illustrations %}
        <div class="client_box b-1 col-md-4 col-lg-3">
          <div class="client-id">
            <div class="img-box">
              <img src="{{ asset('uploads/' ~ illustration.imgsrc) }}" alt="" />
            </div>
            <div class="name">
              <h5>
                {{ illustration.titre }}
              </h5>
              <p>
                {{ illustration.defaultlang }}
              </p>
            </div>
          </div>
          <div class="detail">
            <p>
              {{ illustration.description|split(" ") | slice(0, 10) | join(" ") }} ...
            </p>

                <a class="cbutton" href="{{ path('app_illustration_show', {'id': illustration.id}) }}">Voir</a>
                <a class="cbutton" href="{{ path('app_illustration_edit', {'id': illustration.id}) }}">Editer</a>
            <div>
              <div class="arrow_img">
              </div>
            </div>
          </div>
        </div>
        {% else %}
            <tr>
                <td colspan="6">On n'a pas enrigistré une illustration</td>
            </tr>
        {% endfor %}
      </div>
      
    </div>
  </section>
{% endblock %}
