{% extends 'base.html.twig' %}

{% block title %}Illustration {{ illustration.titre }} {% endblock %}

{% block body %}
    <section class="trending_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container">
            <h2 id="idillus" data-id="{{ illustration.id }}">
                {{ illustration.titre }}
            </h2>
        </div>
        <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <div class="number">
                    <h5>
                      Description
                    </h5>
                  </div>
                </div>
                <div>
                    <p>
                    {{ illustration.description }}
                    </p>
                </div>
    </div>
    <div id="accordion">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-lg-4">
            <canvas id="monCanvas" height="600" width="600"></canvas>
          </div>
          <div class="col-md-3 mr-2">
            <div class="detail-box">
              <div class="tab_container">
              
                <div class="m-0" >
                    <label for="lang">Langue d'affichage :</label>
                    <select id="langtranslate" name="lang">
                        <option value="{{illustration.defaultlang}}" selected>{{illustration.defaultlang}}</option>
                        <option value="fr">Français</option>
                        <option value="en">Anglais</option>
                        <option value="es">Espagnol</option>
                        <option value="pt">Portugais</option>
                        <option value="it">Italien</option>
                        <option value="zh">Chinois</option>
                        <option value="ja">Japonais</option>
                    </select>
                    <p id="notiftrans"></p>
                    <button class="abutton" id='btntrad'>
                        Traduire
                    </button>
                  <hr>
                    <a class="cbutton" href="{{ path('app_illustration_index') }}">Voir les illustrations</a> </br> 
                    {% if is_granted('ROLE_MEMBER') %}
                    <a class="cbutton" href="{{ path('app_illustration_translate', {'id': illustration.id}) }}">Proposer une traduction</a>
                    <a class="cbutton" href="{{ path('app_illustration_edit', {'id': illustration.id}) }}">Editer</a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-8 col-lg-4 mt-4">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  Composants
                </h2>
              </div>
              <div class="tab_container">

                {% for composant in illustration.composants %}
                <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  <hr>
                  <div class="t-name">
                    <h5  id="{{ composant.id }}" >
                       {{ composant.label }}
                    </h5>
                  </div>
                </div>
                <div class="t-desc">
                    <p id="desc{{ composant.id }}" >
                    {{ composant.description }}
                    </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block javascripts %} 
  <script type="text/javascript" src="{{ asset('assets/js/image.js') }}" async></script> 
  <script type="text/javascript" src="{{ asset('assets/js/translate.js') }}" async></script> 
{% endblock %}
