<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Terminologio{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/img/banner.png') }}">
        {% block styles %}
            <link rel="stylesheet" type="text/css"
                href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

            <!-- bootstrap core css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.css') }}" />

            <!-- fonts style -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
            <!-- responsive style -->
            <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet" />
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% block nav %}
            <header class="header_section">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="{{ path('app_index') }}">
                        <img src="" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  ">
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_index')}}">Acceuil<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_illustration_index') }}"> Illustrations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_theme') }}">Thèmes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% if app.user %} {{ path('app_membre_show', {id:app.user.id}) }} {% else %} {{ path('app_login') }} {% endif %}">Compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                        </li>
                        </ul>
                        <div class="user_option">
                        <a href="{% if app.user %} {{ path('app_membre_show', {id:app.user.id}) }} {% else %} {{ path('app_login') }} {% endif %}">
                            <img src="{{ asset('assets/img/user.png') }}" alt="">
                            <span>
                            Login
                            </span>
                        </a>
                        <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                        </form>
                        </div>
                    </div>
                    <div>
                        <div class="custom_menu-btn ">
                        <button>
                            <span class=" s-1">

                            </span>
                            <span class="s-2">

                            </span>
                            <span class="s-3">

                            </span>
                        </button>
                        </div>
                    </div>

                    </nav>
                </div>
                </header>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %} 
            <!-- info section -->
            <section class="info_section layout_padding2">
                <div class="container">
                <div class="info_logo">
                    <h2>
                    Terminologio
                    </h2>
                </div>
                <div class="row justify-content-center d-flex">

                    <div class="col-md-3">
                    <div class="info_contact">
                        <h5>
                        A propos de Terminologio
                        </h5>
                        <div>
                        <div class="img-box">
                            <img src="{{ asset('assets/img/location-white.png') }}" width="18px" alt="">
                        </div>
                        <p>
                            Adresse
                        </p>
                        </div>
                        <div>
                        <div class="img-box">
                            <img src="{{ asset('assets/img/telephone-white.png') }}" width="12px" alt="">
                        </div>
                        <p>
                            +33 745564933
                        </p>
                        </div>
                        <div>
                        <div class="img-box">
                            <img src="{{ asset('assets/img/envelope-white.png') }}" width="18px" alt="">
                        </div>
                        <p>
                            nassalang.michel@gmail.com
                        </p>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="info_info">
                        <h5>
                        Informations
                        </h5>
                        <p>
                        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        </p>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="info_form ">
                        <h5>
                        Newsletter
                        </h5>
                        <form action="">
                        <input type="email" placeholder="Donner votre email">
                        <button>
                            Se souscrire ...
                        </button>
                        </form>
                        <div class="social_box">
                        <a href="">
                            <img src="{{ asset('assets/img/fb.png')}}" alt="">
                        </a>
                        <a href="">
                            <img src="{{ asset('assets/img/twitter.png') }}" alt="">
                        </a>
                        <a href="">
                            <img src="{{ asset('assets/img/linkedin.png') }}" alt="">
                        </a>
                        <a href="">
                            <img src="{{ asset('assets/img/youtube.png') }}" alt="">
                        </a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </section>

            <!-- footer section -->
            <section class="container-fluid footer_section ">
                <div class="container">
                <p>
                    &copy; 2023 
                    <a href="">Michel Nassalang</a>
                </p>
                </div>
            </section>
            <!-- end  footer section -->
        {% endblock %}

        {% block scripts %}
            <script type="text/javascript" src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
            <script type="text/javascript" src="{{ asset('assets/js/carroussel.js') }}"></script>
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
