{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}

    <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Thème
              </h2>
            </div>
              <h3>
                {{theme.titre}} ({{theme.domaine}})
              </h3>
            <p>{{theme.description}}
            </p>
            <a href="{{ path('app_theme_index') }}" class="abutton">
                Retour sur les thèmes
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="container client_section layout_padding-bottom">
  <div class="client_container layout_padding2 row">
      {% for illustration in theme.illustrations %}
        <div class="client_box b-1 col-md-4 col-lg-3">
          <div class="client-id">
            <div class="img-box">
              <img src="{{ asset('uploads/' ~ illustration.imgsrc) }}" alt="" />
            </div>
            <div class="name">
              <h5>
                {{ illustration.titre }}
              </h5>
              <p>
                {{ illustration.defaultlang }}
              </p>
            </div>
          </div>
          <div class="detail">
            <p>
              {{ illustration.description|split(" ") | slice(0, 10) | join(" ") }} ...
            </p>

                <a class="cbutton" href="{{ path('app_illustration_show', {'id': illustration.id}) }}">Voir</a>
                {% if is_granted('ROLE_MEMBER') %}
                <a class="cbutton" href="{{ path('app_illustration_edit', {'id': illustration.id}) }}">Editer</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                  {{ include('illustration/_delete_form.html.twig') }}
                {% endif %}
            <div>
              <div class="arrow_img">
              </div>
            </div>
          </div>
        </div>
        {% else %}
            <tr>
                <td colspan="6">il n'y a pas d'illustration avec ce thème</td>
            </tr>
        {% endfor %}
      </div>
      
    </div>
  </section>
  {% if is_granted('ROLE_ADMIN') %}
      {{ include('theme/_delete_form.html.twig') }}
  {% endif %}
{% endblock %}
